<% @feed = Feed.find(params[:id]) %>
<% @categories = Categorization.find_all_by_feed_id(@feed.id) %>

<% if current_user %>
<% @user = User.find(current_user.id) %>
<% end %>
 
<%= render :partial => 'shared/search' %>

   <div class="middle">
                    <div class="content">

                        <div class="feed">

                            <div class="feed-item">
                                <ul class="tags">

					<% if @categories.nil? %>
					<% else %>
						<% for cat in @categories %> 
						<% if cat.topic_id %>   
                                    		<li><a href="#"follow> <%= Topic.find(cat.topic_id).name %></a></li>
                                                <% end %>

						<% end %>
					<% end %>

                                </ul>

                                <a class="title-name">
                                    <%= @feed.name %>
                                </a>
                                <div class="info">
                                    <a href="#"> <%= @feed.description %></a> 
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="sidebar">
<% if current_user %>	
<% if @user.find_feeds.include?@feed %>
                                                <a href="#" class="unfollow" id="changefollow"><span> Sigue </span></a>
<% end %>
<% else %>
                                               <a href="#" class="follow" id="changefollow"><span> No quero seguir </span></a>
<% end %>

                        <div id="bag-section" class="section">
                            <h5>Related Questions</h5>
                            <ul>
                                <li>
                                <a href="#">
                                    <span class="name">Sample Question</span>
                                    <span class="val">More</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">PEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">OJO</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        
						<div class="social-media">
			                            <h5>Compartir</h5>
							<ul>
								<li><a href="#" class="twitter" onclick="jQuery.facebox({ div: '#sharedialog' });return false;">Twitter</a></li>
								<li><a href="#" class="email" onclick="jQuery.facebox({ div: '#sharedialog' });return false;" >Email</a></li>
								<li><a href="#" class="in_social" onclick="jQuery.facebox({ div: '#sharedialog' });return false;">Linked In</a></li>
							        <!-- <li><a href="#" class="facebook" onclick="jQuery.facebox({ div: '#sharedialog' });return false;">Linked In</a></li>-->
                                                        
							</ul>
						</div>
						
                        <div id="notification-section">
                
 <h5>Statisticas</h5>
                            <div class="text">
                                <p>Latest activity <a href="#">6:19pm on Saturday</a>.</p>
                                <p> Esta página ha sido vista <strong>28</strong>  veces .</p>
                                <p><strong>8</strong> personas están siguiendo este tema..</p>
                            </div>


                        </div>
                        
                    </div>
                </div>


<%= render :partial => 'shared/share' %>



