
<%= render :partial => 'shared/search' %>

  <div class="middle">
                    <div class="content">

                        <div class="feed">
                            <div class="feed-item">
                                <a class="title-name">
 <%= @topic.name %>
                                </a>
                                <div class="info">
                                    <a href="#"> <%= @topic.description %></a> 
                                </div>
                            </div>
                        </div>
<% @categories = Categorization.find_all_by_topic_id(@topic.id) %>

							
								<div class="large-tabs2">
									<a href="#" class="photo"><img src="images/ico-purchase-3.gif" alt=""/></a>
									<ul>
										<li class="active first">
											<span class="title">Actualizaciones</span>
											<span class="extra">Destacas ahora </span>
										</li>
										<li>
										<a href="#">
											<span class="title">Comprar</span>
											<span class="extra">Ver mass </span>
										</a>
										</li>
										<li>
										<a href="#">
											<span class="title">Vendar</span>
											<span class="extra">Ver mass</span>
										</a>
										</li>
									</ul>
								</div>
								<div id="topic-feed">
										
 								        <% for cat in @categories %>
									<% if cat.feed_id %>
                                                                        <% @feed = Feed.find(cat.feed_id) %>
									<div class="feed">
										<div class="feed-item topic-page">
										<%= link_to @feed.name, feed_path(@feed),  :class => "name" -%>
										<div class="info">
											<a href="#"><%= @feed.description %></a>
										</div>
										</div>
								        </div>
                                                                        <% end %>

									<% end %>
							</div>
					
					</div>
                    <div class="sidebar">
					<a href="#" class="follow" id="changefollow"><span> Sigue </span></a>
                        <div id="bag-section" class="section">
                            <h5>Etiquetas Relacionados</h5>
                            <ul>
                                <li>
                                <a href="#">
                                    <span class="name">Sample Question</span>
                                    <span class="val">More</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">PEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">OJO</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        
						<div class="social-media">
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="facebook">Email</a></li>
								<li><a href="#" class="in_social">Linked In</a></li>
							</ul>
						</div>
						
                        <div id="notification-section">
                            <h5>Question Stats</h5>
                            <div class="text">
                            	<p>Latest activity <a href="#">6:19pm on Saturday</a>.</p>
                                <p> Esta página ha sido vista <strong>28</strong>  veces .</p> 
                                <p><strong>8</strong> personas están siguiendo este tema..</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

