
<%= render :partial => 'shared/search' %>

 <!-- middle -->
                <div class="middle">

                    <!-- content -->     
                    <div class="wrapper">
                        <div class="content">

                            <!-- text content -->
                            <div class="text">
      
                                <!--<div class="contact-form"> -->
                                <div class="comment-form" id="addcomment" >
                                	<DIV ALIGN="left">
                                		<!-- <h1 class="blue">Registrarte</h1> -->
                                	</div>


<!-- here -->
                                <div class="comment-one-reg" id="connectuser">
                <div class="comment-box-reg">
                	                   
                    <div class="comment-text">
                    
                    <h5  align="center">Tienen una cuenta de Twitter o LinkedIn? </h5>
                    <p></p>
                     <div class="social-list" align="center"> 
                     <table cellspacing="15" >
                     <tr>
                   <td>
 <a href="#"><%= image_tag("twitter.gif", :alt=>"Follow us on Facebook", :width=>"33", :height=>"33") %> </a>

                 <!-- <a href="#"><img src="images/social/twitter.gif" alt="" width="33" height="33" border="0" /></a>-->  
                    </td>
                    <td><p>  </p></td>
                    
                    <td>

 <a href="#"><%= image_tag("in_social.gif", :alt=>"Follow us on Facebook", :width=>"33", :height=>"33") %> </a>

                   <!-- <a href="#"><img src="images/social/in_social.gif" alt="" width="33" height="33" border="0" /></a>-->
                   </td>
                   </tr>
                   </table>
                </div>
                    <p></p>
                    <div align="center"><h5>Connectar sus cuentas. </h5>
                    </div>
                    </div>
                    
                    <div class="comment-meta">
                    

                    
                    	<strong class="author"> </strong> <div id="clickme"><a href="#postdialog" rel="facebox" class="link-reply" id="regtrigger">No tengo ... </a> </div> <br />
                    	<span class="comment-date"> </span>
                    </div> 
                    
                </div>
                <div class="comment-bot"></div>
            </div> 
            
            <!-- here -->
                                
                                        
                                        
                                        
                                        
                                        
                                        
                                        
 	          <div id="registeruser" style="display:none">

                  <p></p>
            <div id="signupwrap" >

<% form_for(@user, :html => { :id => "signupform" }) do |f| %>

	  		  <table border="0">
	  		  <tr>
	  		  	<td class="label"><label id="lfirstname" for="firstname">Nombre</label></td>
	  		  	<td class="field"><%= text_field_tag(:firstname) %> <!-- <input id="firstname" name="firstname" type="text" value="" maxlength="100" /> --> </td>
	  		  	<td class="status"> </td>
	  		  </tr>
	  		  <tr>
	  			<td class="label"><label id="llastname" for="lastname">Apellido</label></td>
	  			<td class="field"><%= text_field_tag(:lastname) %> <!-- <input id="lastname" name="lastname" type="text" value="" maxlength="100" /> --> </td>
	  			<td class="status"></td>
	  		  </tr>
	  		
	  		  <tr>
	  			<td class="label"><label id="lpassword" for="password">Contraseña</label></td>
	  			<td class="field"><%= password_field_tag(:password) %> </td>
	  			<td class="status"></td>
	  		  </tr>
	  		 
	  		  <tr>
	  			<td class="label"><label id="lemail" for="email">Correo Electrónico</label></td>
	  			<td class="field"><%= text_field_tag(:email) %> </td>
	  			<td class="status"></td>
	  		  </tr>
              	  		 

	  		  <tr>
	  			<td class="label">&nbsp;</td>
	  			<td class="field" colspan="2">
		  			<div id="termswrap">
			  			<input id="terms" type="checkbox" name="terms" />
			            <label id="lterms" for="terms">He leido los terminos de servicios</label>
		            </div> <!-- /termswrap -->
	  			</td>
	  		  </tr>
	  		  <tr>
	  			<td class="label"><label id="lsignupsubmit" for="signupsubmit"> </label></td>
	  			<td class="field" colspan="1">
	  			</td>
                <tr>
                </tr>
                <td></td>
                                <td></td>

                <td width="75px">

                </td>
                <td></td>
	  		  </tr>

	  		  </table>
                            <div align="center" style="padding-left:92px;"> <input id="signupsubmit" class="clear-button btn-grey" name="signup" type="submit" value="Listo" />
</div>
	<% end %>
          </div>
                  
                                    <div class="clear"></div>
                                    </div>
                                    
                                    
                                </div>  
                                
                                </div>
                            <!--/ text content -->

                        </div>
                    </div>

                    <!--/ content -->        

                    <!-- navigation -->        
                    <div class="navigation"> 


		<div class="left-menu"> 
            	<ul> 
                	<li class="active"><a href="#">Basico</a></li> 
                    <li><a href="#">Premio</a></li> 
                    <li><a href="#">Empresa</a></li> 
                </ul> 
            </div> 
            
               <div class="blogmenu">
               
               
                
            </div>


                    </div>
                    <!--/ navigation -->

                    <div class="clear"></div>


                </div>
                <!--/ middle -->

