<div class="search">
<form id="search_form">
<div class="wrap">
<input type="text" data-default="search" value="" name="search"></input>
<button type="submit"></button>
</div>
</form>
</div>
<div class="clear"></div>


   <!-- middle --> 
                <div class="middle"> 
 
                    <!-- content -->     
                    <div class="wrapper"> 
                        <div class="content"> 
 
                            <!-- text content --> 
                            <div class="text"> 
 
                                <h1 class="blue"> Regístrete aquí</h1> 
                                <p> empezar a utilizar los servicios ahora...</p> 
 
                                <p> Por favor, revise su buzón de correo <br /> 
				Recibirás un correo electrónico de registro
				</p> 
 
 
                                <div class="contact-form"> 
 
				    <% form_for(@user) do |f| %>
				    <%= f.error_messages %>

                                        <p class="inputtext"><label>Nombre *</label> <%= f.text_field :screen_name %></p>
                                        <p class="inputtext"><label> Contrasena </label><%= f.password_field :password %></p> 
                                        <p class="inputtext"><label>Correo</label> <%= f.text_field :email %></p> 
                                        <p class="inputtext"><label>Confirmar contrasena</label> <%= f.password_field :password_confirmation %></p> 
                                        <div class="clear"></div> 
                                        <p class="btn-send text-right"> 
                                        <span class="notice-field"><em><strong>* campos obligatorios</strong></em></span> 
                                  
 					<%= f.submit 'Registre' %>
      
					<!-- <input value="Registre" type="submit" /> 
 					-->

                                        </p>
 				    <% end %> 
                                    <div class="clear"></div> 
 
                                </div>  
 
 
                            </div> 
                            <!--/ text content --> 
 
                        </div> 
                    </div> 

                        <%= render :partial => 'shared/navigation_plans' %>
                    <!--/ content -->        

                    <div class="clear"></div> 
                </div> 
                <!--/ middle --> 
 
