<div class="search">
<form id="search_form">
<div class="wrap">
<input type="text" data-default="search" value="" name="search"></input>
<button type="submit"></button>
</div>
</form>
</div>
<div class="clear"></div>


   <!-- middle --> 
                <div class="middle"> 
 
                    <!-- content -->     
                    <div class="wrapper"> 
                        <div class="content"> 
 
                            <!-- text content --> 
                            <div class="text"> 
 
                                <h1 class="blue">Got something to say? Please drop us a line</h1> 
 
                                <p>Drop us a line and we will get back to you in 2 Business days.</p> 
 
                                <p>We look forward to hearing feedback from our clients. <br /> 
                                Please let us know if we can be of any assistance and we’d be happy to help.</p> 
 
 
                                <div class="contact-form"> 
 
                                    <form action="" method="get"> 
                                        <p class="inputtext"><label>Name *</label> <input name="your-name" value="" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Email *</label> <input name="your-email" value="" class="inputtext" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Company</label> <input name="your-subject" value="" class="inputtext" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Country</label> <input name="your-subject" value="" class="inputtext" size="40" type="text" /></p> 
                                        <div class="clear"></div> 
                                        <p class="textarea"><label>Message *</label> <textarea name="your-message" cols="40" rows="10"></textarea></p> 
                                        <p class="btn-send text-right"> 
                                        <span class="notice-field"><em><strong>* mandatory fileds</strong></em></span> 
                                        <input value="Send Message" type="submit" /> 
 
                                        </p> 
                                    </form> 
                                    <div class="clear"></div> 
 
                                </div>  
 
 
                            </div> 
                            <!--/ text content --> 
 
                        </div> 
                    </div> 
 
                    <!--/ content -->        
 
                    <!-- navigation -->        
                    <div class="navigation"> 
 
 
                        <div class="contact-info"> 
                            <h3>Address &amp; Contact Info</h3> 
 
                            <div class="row"> 
                                345 Lincoln Park Ave.<br /> 
                                San Jose, CA 9342-2244
                            </div> 
 
                            <div class="row">                
                                Phone: <span class="blue">(800) 833 - 6687</span><br /> 
                                Fax: &nbsp;&nbsp;&nbsp; <span class="blue">(800) 477 - 3487</span> 
                            </div> 
 
                            <div class="row"> 
                                Email:   <span class="blue"><a href="mailto:contact@softco.net">contact@softco.net</a></span> 
                            </div> 
 
                            <p> 
                            <a href="#">www.website.com</a><br /> 
                            <a href="#">www.ourblog.com</a></p> 
 
                        </div> 
 
 
                    </div> 
                    <!--/ navigation --> 
 
                    <div class="clear"></div> 
                </div> 
                <!--/ middle --> 
 
 

<!--
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :screen_name %><br />
    <%= f.text_field :screen_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>



  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
-->
