

<% @cat = Categorization.find(:all, :conditions => ["user_id =?",@user.id]) %>

<% if "comprar".eql? params[:tab] %>
<% @feed = Feed.most_recent_buy %>
<% end %>

<% if "vendar".eql? params[:tab] %>
<% @feed = Feed.most_recent_sell %>
<% end %>

<% if params[:tab].nil? %>
<% @feed = Feed.most_recent %>

<% end %>

<%= render :partial => 'shared/search' %>

    <div class="middle">
                    <div class="content">

                    <div id="post_box">


            <input id="post_content" type="text" data-default="Mensaje de su producto o servicio ... "></input>
                            <div id="post_details" style="display:none">

                                <div class="disable-box">
                                    <input id="post_save_checkbox" type="checkbox" name="asdf"></input>
                                    <span> Incluyen los datos mios</span>
                                </div>
                         
			        <input type="text" data-default="Quen?"></input>
                                <input type="text" data-default="Su titulo"></input>
                                <input type="text" data-default="Numero de telefono"></input>
                                <input type="text" data-default="Correo directo"></input>

                                <div class="actions">
                                    <span id="post_type_btn">Type</span>
                                    <ul id="post_type_menu" style="display:none;">
                                        <li id="type_product">Producto</li>
                                        <li id="type_service">Servicio</li>
                                    </ul>

                                  <span id="post_btn" class="btn-grey">Postar</span>
                                </div>

                            </div>

                            <script type="text/javascript">
                                $(document).ready(function() {
                                        var postBox = new PostBox(); 

					$("#post_content").click(function () {
					$('#post_details').slideDown('fast');
    					});


                                });
                            </script>

                    </div>

                        <div class="large-tabs">
                            <ul>
                                <li class="active first">
                                <span class="title">Actualizaciones</span>
                                <span class="extra">extra info</span>
                                </li>
                                <li>  <%= link_to "<span class=\"title\">Comprar</span><span class=\"extra\">extra info</span> ", :controller => "users", :action => "show", :id=> @user.id, :tab => "comprar" %> 
                                </li>
                                <li>
                                <a href=" ">

<%= link_to "<span class=\"title\">Vendar</span><span class=\"extra\">extra info</span> ", :controller => "users", :action => "show", :id=>
 @user.id, :tab => "vendar" %>        

                                </a>
                                </li>
                            </ul>
                        </div>



                        <div class="feed">
<% i = 0 %>

<% for feed in @feed %>
                            
<% @feed_cat = Categorization.find(:all, :conditions=> ['feed_id = ?', feed.id]) %> 

<% if i.eql? 4  %>
<div id="hiddenfeed"  style="display:none">
<% end %> 
			<div class="feed-item" >

                                <a href="#">
                                    <span class="profile-photo">img</span>
                                </a>
                                <a class="name">
					        <%= feed.name %>

                                </a>
                                <div class="info">
					   <a href="#">Cemex</a>^M
                                    <span>Monterrey, NL</span>^M

                                </div>
                                <ul class="tags">
<% for cat in @feed_cat %>
                                    <li><a href="#"><%= Topic.find(cat.topic_id).name %></a></li>
                                    <!-- <li><a href="#">Aerospace</a></li> -->
<% end %>
                                </ul>
                      </div>

                            <div class="feed-item border">
                                <span class="timestamp"><%= feed.updated_at.strftime("%m/%d") %></span>
                            </div>

<% i = i+1 %>
<% end %>

<% if i > 4  %>
</div>
<% end %>
                            <div id="morefeeds" class="more-button btn-grey">Ver Mass</div>
                         </div>
                    </div>

                    <div class="sidebar">
                        <div id="notification-section">
                            <h5>New Notification</h5>
                            <div class="text">This is a message linking to <a href="#">a random page</a>. <span class="timestamp">9:58pm</span></div>
                            <div class="clear-button btn-grey" onclick="$(this).parent().fadeOut('fast')">Clear New Notification</div>
                        </div>

                        <div id="tabs-section" class="section">
                            <ul>
                                <li class="active">Mi Cuenta</li>
                                <li><a href="#">Contactos</a></li>
                                <li><a href="#">Tags</a></li>
                                <li id="toggleInvitations"><a href="#">Invitaciones</a></li>
                            </ul>
                        </div>

                        <div id="invitation-section" class="section">
                            <ol>
                                <li><input type="text" name="invitation_email" placeholder="Correo Electronico 1"></li>
                                <li><input type="text" name="invitation_email" placeholder="Correo Electronico 2"></li>
                                <li><input type="text" name="invitation_email" placeholder="Correo Electronico 3"></li>
                                <li><input type="text" name="invitation_email" placeholder="Correo Electronico 4"></li>
                                <li><input type="text" name="invitation_email" placeholder="Correo Electronico 5"></li>
                                <li><input type="submit" id="sendButton" class="send-button clear-button btn-grey" value="Invite"></li>
                            </ol>
                        </div>

                        <div id="bag-section" class="section">
                            <h5>Mi Bolsas</h5>
                            <ul>
                                <li>
                                <a href="#">
                                    <span class="name">CEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">PEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">OJO</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>            
<!-- notes -->


<script type="text/javascript">
$(document).ready(function(){



// Create a Pusher server object with your app's key
var server = new Pusher('92a18c1392e252d076c6', 'post');
// Bind to server events

server.bind('thing-create', function(thing) {
alert('A thing was: ');


var currentTime = new Date()
var hours = currentTime.getHours()
var minutes = currentTime.getMinutes()

var month = currentTime.getMonth() + 1
var day = currentTime.getDate()

var html = '<div class=\"feed-item\"><a href=\"#\"><span class=\"profile-photo\">img</span></a><a class=\"name\">' +  thing.name + '</a><div class=\"info\"><a href=\"#\">' + thing.contact_name + '</a></div><ul class=\"tags\"><li><a href=\"#\">Mexicana</a></li><li><a href=\"#\">Aerospace</a></li></ul></div><div class=\"feed-item border\"><span class=\"timestamp\">' + hours + ':' + minutes + '</span></div>'


//TO DO: check the date on post
//var html = '<div class=\"feed-item\"><a href=\"#\"><span class=\"profile-photo\">img</span></a><a class=\"name\">' +  thing.name + '</a><div class=\"info\"><a href=\"#\">' + thing.contact_name + '</a></div><ul class=\"tags\"><li><a href=\"#\">Mexicana</a></li><li><a href=\"#\">Aerospace</a></li></ul></div><div class=\"feed-item border\"><span class=\"timestamp\">' + hours + ':' + minutes + '  ' + month + ' / ' + day + '</span></div>'

$(".feed").hide().prepend(html).fadeIn('slow');


});



});
</script>



                 

