      <% Juggernaut.send_to_all("alert('hi from juggernaut')") %>

 <%= form_remote_tag(
            :url => { :action => :send_data },
            :complete => "$('chat_input').value = ''" ) %>
        <%= text_field_tag( 'chat_input', '', { :size => 20, :id => 'chat_input'} ) %>
        <%= submit_tag "Add" %>
      </form>
      <ul id="chat_data" style="list-style:none">
      </ul>


<p>
  <b>Screen name:</b>
  <%=h @user.screen_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Profession:</b>
  <%=h @user.profession %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>Level:</b>
  <%=h @user.level %>
</p>

<p>
  <b>Rating:</b>
  <%=h @user.rating %>
</p>

<p>
  <b>Points:</b>
  <%=h @user.points %>
</p>

<p>
  <b>Date created:</b>
  <%=h @user.date_created %>
</p>

<p><%= render :partial => '/shared/invite' %></p>
<p><%= render :partial => '/shared/import' %></p>
<p><%= render :partial => '/shared/contacts_saved' %></p>
