<% form_tag :action => "export_to_csv" do %>
        <%= submit_tag "Exportar a CSV" %></td>
       
               
        <table border="1"> 
          <tr>
             <td></td>
            <td><%= link_to "Company Name", :controller => "companies",:sort=>"true",:search => @query,:action => "sortByName" %></td>
            <td><%= link_to "Company State", :controller => "companies", :sort=> "true",:search => @query,:action => "sortByState" %></td>
            <td><%= link_to "Company date updated", :controller => "companies", :sort=> "true",:search => @query, :action => "sortByDateUpdated" %></td>
            <td><%= link_to "Number of contacts", :controller => "companies", :sort=> "true",:search => @query,:action => "sortByNumber" %></td>
          </tr>
    
        <% for company in @companies %>
        <tr>
                <td><%= check_box_tag "company[]", company.id %></td>
                <td> <%= link_to company.company_name, company_path(company) %></td>
                <td><%= company.company_state %></td>
                <td><%= company.updated_at %></td>
                <% $allContacts = company.id %>
                <td> <%= link_to company.contacts.count, :controller => "companies", :action => "displayContacts" %> </td>
        </tr>
        <% end %>

        <td>
        <% end %>

        </table>

<% if @companies.paginate %>
<%= will_paginate @companies %>
<% end %>

 
