
  <div id="header">
            <div class="links">
                <ul id="search_categories">
              
		    <% tabs_tag do |tab| %>
	            <li class="active"><div> <%= tab.home 'Contactos', root_path %></div></li>
                    <li><div>   <%= tab.companies 'Empresas', companies_path %> </div></li>
                    <li><div>Servicios</div></li>
                    <li><div>Productos</div></li>            
		    <% end %>
	        </ul>
		    
                <ul class="site">
	        <% if current_user %> 
	            <li><span class="sep">|</span></li>
                    <li> <%= link_to "Su Cuenta", user_path(current_user.id) %> </li>
                    <li><span class="sep">|</span></li>
                    <li> <%= link_to "Salir", logout_path %></li>
		<% else %>
                    <li><%= link_to "Registrarse", new_user_path %> </li>
        	    <li><span class="sep">|</span></li>
		    <li id ="log-in"><%= link_to "Entrar", login_path%></li>         
		<% end %>
	       </ul>
            </div>
  </div>

<div id="dialog-form" title="Log in">
	<p class="validateTips">Todos los campos son requeridos.</p>

	<form>
	<fieldset>
		<p><label for="email">Email</label>
		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" /></p>
		<p><label for="password">Clave</label>
		<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" /></p>
		<p><%= link_to "¿OLvidaste tu contraseña?", :controller => "password_resets", :action => "new" %></p>
	</fieldset>
	</form>
</div>






<%@companies = Company.find(:all)%>
<%if @companies %>
<div class="toggler">
	<div id="effect" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Actualizaciones</h3>
		<p>
			<%
			for company in @companies %>
				<% if company.created_at > (Time.now - 24.hours) %>
					<%= company.company_name %> was created <%= time_ago_in_words(company.created_at) %> ago </br>
				<% end %>
			  <% end %>
		</p>

	</div>
</div>
<%end%>

<!--<a href="#" id="button" class="ui-state-default ui-corner-all">Run Effect</a>-->

