
  <div id="header">
            <div class="links">


<%= image_tag("logo_Kontacto.png", :id=>"buslogo", :alt=>"Kontactoz") %>   

        
        <h1>Kontactoz</h1>
		    
                <ul class="site">
	        <% if current_user %> 
                    <li> <%= link_to "Su Cuenta", user_path(current_user.id) %> </li>
                    <li><span class="sep">|</span></li>
                    <li> <%= link_to "Salir", logout_path %></li>
		<% else %>
                    <li><%= link_to "Registrarse", register_path %> </li>
        	    <li><span class="sep">|</span></li>
		    <li id ="log-in2" onclick=><a href="#" onClick="jQuery.facebox({ div: '#logindialog' });">Entrar</a></li>         
	         <% end %>
		   <li><span class="sep">|</span></li>
	          <li> <span class="mobile"><%= link_to "Movil", :mobile => 1 %></span></li>
	       </ul>
            </div>
  </div>


