<h1> Empresa Nueva</h1>

<% form_for :company, @company, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :company_site %><br />
    <%= f.text_field :company_site %>
  </p>
  <p>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label :company_postcode %><br />
    <%= f.text_field :company_postcode %>
  </p>
  <p>
    <%= f.label :company_address %><br />
    <%= f.text_field :company_address %>
  </p>
  <p>
    <%= f.label :company_state %><br />
    <%= f.text_field :company_state %>
  </p>

  <p>
    <%= f.label :linkedin_id %><br />
    <%= f.text_field :linkedin_id %>
  </p>

  <p>
    <%= f.label :company_phone %><br />
    <%= f.text_field :company_phone %>
  </p>
  <p>
    <%= f.label :company_fax %><br />
    <%= f.text_field :company_fax %>
  </p>
  <p>
    <%= f.label :employee_number %><br />
    <%= f.select :employee_number, ["0-25","25-100","100-250","250-1000", "1K-10K","10K-50K",">50K"] %>  
  </p>
  <p>
    <%= f.label :revenue %><br />
    <%= f.select :revenue, ["0-500K","500K-1M","1M-10M","10M-50M","50M-100M","100M-500M",">500M"] %>  
  </p>
  <p>
    <%= f.label :fb_id %><br />
    <%= f.text_field :fb_id %>
  </p>
  <p>
    <%= f.label :company_ownership %><br />
    <%= f.select :company_ownership, ["public", "private", "government", "other"]%>
  </p>
  <p>
    <%= f.label :company_overview %><br />
    <%= f.text_area :company_overview %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', companies_path %>
