<h1>Listing contact_saveds</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Name</th>
    <th>Company</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Linkedin</th>
    <th>Accuracy</th>
    <th>Contact last updated</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Accuracy</th>
    <th>Purchased</th>
  </tr>

<% @contact_saveds.each do |contact_saved| %>
  <tr>
    <td><%=h contact_saved.title %></td>
    
    <td><%= link_to 'Show', contact_saved %></td>
    <td><%= link_to 'Edit', edit_contact_saved_path(contact_saved) %></td>
    <td><%= link_to 'Destroy', contact_saved, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_saved', new_contact_saved_path %>
