<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title> Kontactoz </title>

<%= stylesheet_link_tag "reset.css",  "landing.css", "gray.css", "ie7.css" %>

<%= javascript_include_tag 'landing/jquery.js', 'landing/jquery.mousewheel.js', 'landing/jScrollPane.js', 'landing/script.js', 'landing/twitter.js' %>

<script type="text/javascript">
getTwitters('tweet', { 
  id: 'add_username_here', 
  count: 1, 
  enableLinks: true, 
  ignoreReplies: true, 
  clearContents: true,
  template: '%text%<br/><a href="http://twitter.com/kontactoz">%time%</a>'
});
</script>

</head>
<body>

<div id="container">	

	<div id="page">
	
		<div id="status"><p><span>21</span>% COMPLETO</p><div class="arrow"></div></div>
		
		<div id="content">
			<div class="left">
				<div class="scroller">
					<p><%= image_tag("logo_Kontacto.png", :id=>"buslogo", :alt=>"Kontactoz") %> Kontactoz</p>
					<h1>Bienvenido al Kontactoz, un portal para la gente de negocio</h1>
					<p> Se trata de una base de datos de empresas, productos, servicios, y mucho mas. Este portal es un lugar donde encontraran herramientas para su negocio, las funciones de marketing, ventas, análisis y noticias en directo. Para probar esta aplicacion, por favor envíe un correo electrónico aqui. Agradecemos cualquier comentario y sugerencia

</p>
				</div>
			</div>

			<div class="right">
				<div class="twitter">
<%= image_tag("landing/ajax-loader.gif", :alt=>"") %>
					<div id="tweet"></div>
				</div>
				<div class="twitterbottom"><a href="http://twitter.com/kontactoz">SIGANOS</a></div>
			</div>
		</div>
		
	<%= yield %>
	
	
	</div>
	
	
	<div id="footer">
		<div class="footer">
			<ul class="social">
				<li><a href="#"><%= image_tag("landing/facebook.png", :alt=>"") %>
</a></li>
				<li><a href="http://twitter.com/kontactoz"><%= image_tag("landing/twitter.png", :alt=>"") %></a></li>
			</ul>
		</div>
	</div>


</div>

</body>
</html>



