<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>

	<head>

<%= stylesheet_link_tag "mobile.css" %>
		
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<script type="text/javascript">
			addEventListener('load', function() {
				setTimeout(hideAddressBar, 0);}, false);
			// Forces iphone address bar to hide	
			function hideAddressBar() {
				window.scrollTo(0, 1);
				window.scrollTo(0,0);
	      	}
		</script>
	</head>

	<body>
		<div class="header">
<%= image_tag("logo_Kontacto.png", :id=>"buslogo", :alt=>"Kontactoz") %>

		<span class="title">Kontactoz</span>
			
			<span class="login"> <%= link_to 'Entrar', entrar_mobile_url %> </span>
			
		</div>
		
		
		
		<%= yield %>
	

		
		
		<div class="footer">
			<div class="content">
				<span>
					<a href="#">Privacidad</a>
					 | 
					 <a href="#">Terminos</a>
					 | 
					 <a href="#">Sobre Nosotros</a>

				</span>	
		<%= link_to "Pagina Completa",  :controller => "companies", :action => "index" %>
			</div>
		</div>
	</body>
</html>




